langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
black
python-multipart
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchain
langchainhub
langchain-text-splitters
sentence-transformers
ipywidgets